<script lang="ts">
    export let i18n;

    import { onMount } from "svelte";
    import {
        Button,
        Dialog,
        MaterialApp,
        Overlay,
        Select,
        Row,
        Col,
        Avatar,
    } from "svelte-materialify";

    let active = true;

    $: states = [];
    $: states_items = [];
    $: countries = [];
    $: countries_items = [];
    $: send_button_state = false;
    const loadCountries = async () => {
        fetch("https://emperia.rxmxit.com/api/countries", {
            method: "GET",
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                countries = data.countries;
                states = data.states;
                getItemsCountries("es");
            });
    };

    const getItemsCountries = async (language) => {
        countries_items = [];
        countries.forEach(function (country, index) {
            let new_country = {
                name: country["country_" + language],
                value: country.country_id,
            };
            countries_items.push(new_country);
        });
        states_items = [];
        states.forEach(function (state, index) {
            let new_state = {
                name: state["state_" + language],
                value: state.state_id,
            };
            states_items.push(new_state);
        });
    };

    const validateSendButton = () => {
        if (country != "1") {
            send_button_state = true;
        } else if (country == "1" && state != "") {
            send_button_state = true;
        } else {
            send_button_state = false;
        }
    };
    const invalid_states = [7, 29, 13, 17, 21, 15, 22];

    const validateLocation = () => {
        active_overlay = true;
        if (!invalid_states.includes(state)) {
            validate = true;
            setInterval(function () {
                active = false;
            }, 1500);
        } else {
            validate = false;
            setInterval(function () {
                window.location.href =
                    "https://na.eventscloud.com/ereg/newreg.php?eventid=616002&categoryid=4008051";
            }, 3000);
        }
    };
    onMount(async () => {
        loadCountries();
    });
    let validate = false;
    let state = "";
    let country = "";
    let active_overlay = false;
    const changeLanguage = (language) => () => {
        getItemsCountries(language);
        i18n.lng = language;
    };
</script>

<MaterialApp>
    <Dialog persistent={true} class="pa-4" bind:active>
        <div style="min-height:400px;">
            <Overlay active={active_overlay} opacity={1}>
                <div class="text-center text-h2 text-white">
                    {#if validate}
                        {i18n[i18n.lng].success_message}
                    {:else}
                        {i18n[i18n.lng].error_message}
                    {/if}
                </div>
            </Overlay>
            <Row
                ><Col cols={9} sm={9} md={9}
                    ><span class="text-h4">{i18n[i18n.lng].welcome}</span></Col
                >
                <Col cols={3} sm={3} md={3} class="d-flex justify-space-around">
                    <Button icon fab on:click={changeLanguage("en")}
                        ><Avatar size="36px"
                            ><img
                                src="https://hatscripts.github.io/circle-flags/flags/gb.svg"
                                alt={i18n[i18n.lng].english_language}
                                width="30"
                            /></Avatar
                        ></Button
                    >

                    <Button icon fab on:click={changeLanguage("es")}
                        ><Avatar size="36px" on:click={changeLanguage("es")}
                            ><img
                                src="https://hatscripts.github.io/circle-flags/flags/es.svg"
                                alt={i18n[i18n.lng].spanish_language}
                                width="30"
                            /></Avatar
                        ></Button
                    ></Col
                >
            </Row>

            <h5>{i18n[i18n.lng].select_region}</h5>

            <Row>
                <Col cols={12}>
                    <Select
                        outlined
                        dense
                        mandatory={true}
                        items={countries_items}
                        bind:value={country}
                        class="pt-2"
                        on:change={validateSendButton}
                    >
                        {i18n[i18n.lng].country}
                    </Select>
                </Col>
                {#if country == "1"}
                    <Col cols={12}>
                        <Select
                            outlined
                            dense
                            mandatory={true}
                            items={states_items}
                            bind:value={state}
                            class="pt-2"
                            on:change={validateSendButton}
                        >
                            {i18n[i18n.lng].state}
                        </Select>
                    </Col>
                {/if}

                {#if send_button_state}
                    <div class="d-flex align-content-end">
                        <Col cols={12}>
                            <Button
                                on:click={validateLocation}
                                outlined
                                class="primary-text">Enviar</Button
                            >
                        </Col>
                    </div>
                {/if}
            </Row>
        </div>
    </Dialog>
</MaterialApp>
