<script>
    export let color;
    export let titulo;
    const cambiarColor = () => {
        color = "primary";
    };
</script>

<nav class="navbar navbar-light bg-{color}">
    <span class="navbarr-brand mb-0 h1">{titulo}</span>
    <button on:click={cambiarColor}>Datos</button>
</nav>
