<script>
	import en from "./services/en.json";
	import es from "./services/es.json";
	let i18n = { lng: "es", en: en, es: es };

	import {
		onMount,
		onDestroy,
		beforeUpdate,
		afterUpdate,
		tick,
	} from "svelte";
	import Header from "./Design/Header.svelte";

	onMount(async () => {});
</script>

<main>
	<Header {i18n} />
</main>
